.first-tier {
    height: 150px;
    margin-bottom: -1px;
    background: url('https://www.raleighnc.gov/cor-layout/content/static/styles/images/BannerSkyline.png') #A0B589 center bottom no-repeat;
background-position: 48% 50%;
  }

.first-tier .container {
min-height: 80px;
}

.first-tier glyphicon {
display: inline;
}

  .first-tier .nav>li>a {
    margin-top: 5px;
    padding: 3px 6px;
  }

  .first-tier .nav>li>a:focus,
  .first-tier .nav>li>a:hover {
    background-color: #fff;
    color: #5784d5;
  }

  .first-tier .site-logo img {
    vertical-align: middle;
  }

.first-tier h1 {
display: inline;
margin:0.6em 0 0 0.2em;
font-size: 2em;
font-family: "Book Antiqua",  Palatino,  "Palatino Linotype",  "Palatino LT STD",  Georgia,  serif;
text-shadow: 1px 1px 3px #31417b;
color: #fff;
transition: all 0.5s ease-in-out;
}

  .second-tier {
    background: #333;
    margin-bottom: 0px;
    min-height: 55px;
  }

.second-tier .nav>li>a {
color: #fff;
text-shadow: 1px 1px 3px #111;
}

.second-tier .nav>li>a:focus,
.second-tier .nav>li>a:hover {
    background-color: #17581D;
    background-image: linear-gradient(to bottom,  #3c61a5, #537ac1);
  }

@media (max-width: 750px) {
.nav>li {
     text-align: center;
     display: inline;
}
}
